

.gallery__item {
	margin: 0 3vw;
	display: grid;
	grid-template-areas: '... ...' 
						 '... gallery-image'
						 '... ...' ;
	grid-template-columns: 8rem 21vmax;
	grid-template-rows: 8rem 28vmax 3rem;
}

.gallery__item:nth-child(even) {
	padding-top: 10vh;
}

.gallery__item-img {
	grid-area: gallery-image;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	transform-origin: 50% 100%;
}

.gallery__item-imginner {
	background-size: cover;
    background-position: 50% 0;
    width: 100%;
    height: 100%;
}

.gallery__item-caption {
	grid-area: 1 / 1 / 4 / 3;
	display: grid;
	grid-template-areas: 'gallery-number gallery-title' 
						 'gallery-link ...'
						 'gallery-link gallery-tags' ;
	grid-template-columns: 8rem auto;
	grid-template-rows: 8rem auto 3rem;

}

.gallery__item-number {
	grid-area: gallery-number;
	font-size: 6rem;
	font-size: clamp(2.5rem,9vw,6.5rem);
	justify-self: end;
	padding-right: 2rem;
	color: var(--color-gallery-number);
}

.gallery__item-title {
	grid-area: gallery-title;
	margin: 0;
	font-size: 4rem;
	font-size: clamp(2rem,5vw,4rem);
	color: var(--color-gallery-title);
}

.gallery__item-number,
.gallery__item-title,
.gallery__text {
	font-family: moret, serif;
	font-weight: 800;
	font-style: italic;
	align-self: center;
}

.gallery__item-link {
	grid-area: gallery-link;
	align-self: end;
	font-size: 1.5rem;
	background: var(--color-gallery-link-bg);
	color: var(--color-gallery-link);
	text-decoration: underline;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.gallery__item-link:focus,
.gallery__item-link:hover {
	background: var(--color-gallery-link-bg-hover);
	color: var(--color-gallery-link-hover);
	text-decoration: none;
}

.gallery__item-tags {
	grid-area: gallery-tags;
	justify-self: end;
	font-size: 1.5rem;
	display: grid;
	grid-auto-flow: column;
	grid-gap: 1rem;
	cursor: pointer;
}

.gallery__text {
	font-size: 20vw;
	line-height: 0.8;
	margin: 0 10vw 0 14vw;
	text-transform: lowercase;
	color: var(--color-gallery-title);
	color: transparent;
	-webkit-text-stroke: 1px #978c77;
	text-stroke: 1px #978c77;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
}

.gallery__text-inner {
	display: block;
}


  /* Card Design */
  .wrapper {
	display: flex;
	width: 90%;
	justify-content: space-around;
	gap: 15px;
  }
  
  .card {
	width: 280px;
	height: 360px;

	padding: 1.5rem;
	
	position: relative;
	display: flex;
	align-items: flex-end;
	transition: 0.4s ease-out;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  }
  
  .card:hover {
	transform: translateY(20px);
  }
  .card:hover:before {
	opacity: 1;
  }
  .card:hover .info{
	opacity: 1;
	transform: translateY(0px);
	
  }

  .card:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	
	background: rgba(0, 0, 0, 0.6);
	z-index: 2;
	transition: 0.5s;
	opacity: 0;
  }
  .card img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	
  }
  .card .info {
	position: relative;
	z-index: 3;
	color: white;
	opacity: 0;
	transform: translateY(30px);
	transition: 0.5s;
  }
  .card .info h1 {
	margin: 0px;
  }
  .card .info p {
	letter-spacing: 1px;
	font-size: 15px;
	margin-top: 8px;
  }
.ques{
	color:white;
	opacity:80%;
}
 
/* card 2 */
  .card21{
	width: 280px;
	height: 360px;

	padding: 1.5rem;
	background-color: #3E0000;
	position: relative;
	display: flex;
	
	transition: 0.4s ease-out;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  }
  .card21:hover {
	transform: translateY(20px);
  }
  .card21:hover:before {
	opacity: 1;
  }

  .card21:hover .ques{
	display: none;
  }
  .card21:before .info{
	display: none;
  }
  .card21:hover .info {
	display: block;
	opacity: 1;
	transform: translateY(0px);
  }
  .card21:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: #3E0000;
	z-index: 2;
	transition: 0.5s;
	opacity: 0;
  }
  .card21 .info {
	position: relative;
	z-index: 3;
	color: white;
	opacity: 0;
	transform: translateY(30px);
	transition: 0.5s;
  }
 

/* card 2 */
  .card22{
	width: 280px;
	height: 360px;

	padding: 1.5rem;
	background-color: #7C0000;
	position: relative;
	display: flex;
	
	transition: 0.4s ease-out;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  }
  .card22:hover {
	transform: translateY(20px);
  }
  .card22:hover:before {
	opacity: 1;
  }
  .card22:hover .info {
	opacity: 1;
	transform: translateY(0px);
  }
  .card22:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	
	background: #7C0000;
	z-index: 2;
	transition: 0.5s;
	opacity: 0;
  }
  .card22 img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	
  }
  .card22 .info {
	position: relative;
	z-index: 3;
	color: white;
	opacity: 0;
	transform: translateY(30px);
	transition: 0.5s;
  }
  .card22 .info h1 {
	margin: 0px;
  }
  .card22 .info p {
	letter-spacing: 1px;
	font-size: 15px;
	margin-top: 8px;
  }

  /* card 3 */
  .card23{
	width: 280px;
	height: 360px;

	padding: 1.5rem;
	background-color: #BA0000;
	position: relative;
	display: flex;
	
	transition: 0.4s ease-out;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  }
  .card23:hover {
	transform: translateY(20px);
  }
  .card23:hover:before {
	opacity: 1;
  }
  .card23:hover .info {
	opacity: 1;
	transform: translateY(0px);
  }
  .card23:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	
	background: #BA0000;
	z-index: 2;
	transition: 0.5s;
	opacity: 0;
  }
  .card23 img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	
  }
  .card23 .info {
	position: relative;
	z-index: 3;
	color: white;
	opacity: 0;
	transform: translateY(30px);
	transition: 0.5s;
  }
  .card23 .info h1 {
	margin: 0px;
  }
  .card23 .info p {
	letter-spacing: 1px;
	font-size: 15px;
	margin-top: 8px;
  }

  /* card 4 */
  .card24{
	width: 280px;
	height: 360px;

	padding: 1.5rem;
	background-color: #E20422;
	position: relative;
	display: flex;
	
	transition: 0.4s ease-out;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  }
  .card24:hover {
	transform: translateY(20px);
  }
  .card24:hover:before {
	opacity: 1;
  }
  .card24:hover .info {
	opacity: 1;
	transform: translateY(0px);
  }
  .card24:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	
	background: #E20422;
	z-index: 2;
	transition: 0.5s;
	opacity: 0;
  }
  .card24 img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	
  }
  .card24 .info {
	position: relative;
	z-index: 3;
	color: white;
	opacity: 0;
	transform: translateY(30px);
	transition: 0.5s;
  }
  .card24 .info h1 {
	margin: 0px;
  }
  .card24 .info p {
	letter-spacing: 1px;
	font-size: 15px;
	margin-top: 8px;
  }
  .card .info button {
	padding: 0.6rem;
	outline: none;
	border: none;
	border-radius: 3px;
	background: white;
	color: black;
	font-weight: bold;
	margin-top: 15px;
	cursor: pointer;
	transition: 0.4s ease;
  }
  .card .info button:hover {
	background: #ac091e;
	color: white;
  }
  #direction{
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .animated-message {
	
	font-size: 4rem;
	opacity: 90%;
	animation: changeMessage 3s infinite alternate;
	margin-bottom: 80px;
  }
  
  @keyframes changeMessage {
	0% {
	  transform: scale(1);
	}
	100% {
	  transform: scale(1.05);
	}
  }
  
  .container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.panel{
    width: 50px;
    height: 90vh;
    box-shadow: 0 0 10px black;
    margin: 20px;
    border-radius: 20px;
    flex: 1;
    background: white no-repeat scroll center;
    transition: all 0.5s linear;
    filter: grayscale(1);
    position: relative;
}
.panel h3{
    position: absolute;
    left: 0;
    bottom: 100px;
    color: white;
    font-size: 40px;
    transform: rotate(-90deg);
    transition: all 0.5s linear;
}
.active{
    flex: 6;
    filter: grayscale(0);
}
.active h3{
    transform: rotate(0deg);
    left: 50px;
    top: 50px;
    text-shadow: 0 0 3px black;
}

#panel-1{ background-color: #3E0000;}
#panel-2{ background-image: url("img/card_2.jpg")}
#panel-3{ background-image: url("img/card_3.jpg")}
#panel-4{ background-image: url("img/card_4.jpg")}
#panel-5{ background-image: url("img/card_5.jpg")}
#panel-6{ background-image: url("img/card_6.jpg")}